// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
/ {
   


    buttons{
        compatible = "gpio-keys";
        i2c_interrupt_pin: i2c_interrupt_pin {
			gpios = <&gpio1 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
        i2c_interrupt_pin2: i2c_interrupt_pin2 {
			gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Sleep/Wakeup Pin";
		};
    };


      aliases{

        as7058interrupt = &i2c_interrupt_pin;
        lis2dh12interrupt = &i2c_interrupt_pin2;
    };
};


&i2c21 {
    status = "okay";
    pinctrl-0 = <&i2c21_default>;
    pinctrl-1 = <&i2c21_sleep>;
    pinctrl-names = "default", "sleep";
};



&pinctrl {
	/omit-if-no-ref/ i2c21_default: i2c21_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 1, 11)>,
				    <NRF_PSEL(TWIM_SDA, 1, 12)>;
		};
	};
    /omit-if-no-ref/ i2c21_sleep: i2c21_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 1, 11)>,
				    <NRF_PSEL(TWIM_SDA, 1, 12)>;
		};
	};
};
